/* variables for colors */
$light: #FFFFFF;
$dark: #000000;
$primary: #DB9D47;
$secondary: #1B1B27;
$red: #FF0000;

/* variables for spacing */
$mElement: 1rem;
$mElementMedium: 2rem;
$mElementLong: 3rem;
$pContainerL: 4.25rem;
$pContainerS: 1.5rem;

/* general style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    color: $light;
    font-size: 14;
    padding: 0;
    margin: 0;
    font-family:
        'Poppins',
        'Roboto',
        '-apple-system',
        'BlinkMacSystemFont',
        '"Segoe UI"',
        '"Helvetica Neue"',
        'Arial',
        'sans-serif',
        '"Apple Color Emoji"',
        '"Segoe UI Emoji"',
        '"Segoe UI Symbol"',
}

hr {
    color: $dark;
    display: block;
    width: 100%;
}

fieldset {
    border-radius: 10px;
    border: 2px solid $dark;
}

/* classes */
.background {
    height: 100vh;
    width: 100%;
    background-color: $secondary;
}

.card {
    background-color: $light;
    padding: $pContainerL;
    border-radius: 1.5rem;
    backface-visibility: hidden;
    display: flex;
    align-items: "center";
    justify-content: "center";
    color: $dark;
}

.max-width {
    max-width: 900px;
}

.centerRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerRowV {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centerRowH {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mElement {
    margin: $mElement;
}

.mElementL {
    margin: $mElementLong;
}

.mElementM {
    margin: $mElementMedium;
}

.pContainerL {
    padding: $pContainerL;
}

.pContainerS {
    padding: $pContainerS;
}

.image {
    border-radius: 50%;
    width: 160px;
    height: 160px;
}

.button {
    background-color: $primary;
    border-radius: 1.5rem;
    box-shadow: 0 0 0 0;
    text-transform: "lowercase";
    transition: 0.15s;
    color: $secondary;
    width: 200px;
    padding: 15px 35px 15px 35px;
    border: none;
    font-weight: bold;
}

.button:hover {
    background-color: $secondary;
    box-shadow: 0 0 0 0;
    transition: 0.15s;
    color: $light;
}

.breadcrumb-divider {
    color: $primary;
    font-weight: bold;
}

.link {
	color: $primary;
	transition: text-shadow .5s;
    font-weight: bold;
}

.link:hover {
	text-shadow: 0 0 3px $primary;
}

.paragraph {
    margin-right: 10%;
    margin-left: 10%;
}

.inputs {
    border: none;
    border-bottom: 1px solid $dark;
    width: 100%;
    display: block;
    transition: all .15s ease-out;
}

.inputs:focus {
    border-color: $dark;
    border: 2px solid $dark;
    padding: 10px;
    transition: all .15s ease-out;
    transition-delay: 0.2s;
    border-radius: 4px;
}

.notification-count {
    color: $light;
    background-color: $primary;
    box-shadow: 1px 1px 1px $dark;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    margin-left: .25rem;
}

.removeFriend {
    transition: color .2s, text-shadow .5s;
}

.removeFriend:hover {
    text-shadow: 0 0 2px $red;
	color: $red;
}

/* media queries */

/* fonts */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}